{% extends 'base.html' %} 
{% load static %}

{% block page_title %}
<h1>Orders</h1>

{% endblock %}
{% block page_content %}
{% for order in orders %}
<div class="row my-3">
		<p class="card-text text-sm-center col-md-6"> Ordered : {{order.ordered_at}} ago</p>
		<div class="pull-right col-md-6"><p>Total Price : {{order.total_price}} $</p></div>
</div>
<div class="row">
		<ul class="list-group col-md-12">
		{% for product in order.line_items %}
			<li class="list-group-item ">
				<div class="col-md-6">{{product.name}}</div> 
				<div class="col-md-2">{{product.price}}$</div>
				<div class="col-md-4">{{product.fulfillment_status}}</div>
			</li>
		{% endfor %}
		</ul>

</div>
{% endfor %}
{% endblock %} 
{% block extrajs %}
	<script src="{% static '/scripts/dashboard.js' %}"></script>
 {% endblock %}